*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    background: #0f172a;
}
.hero{
    width: 100%;
    min-height: 100vh;
    padding-top: 40px;
    background: linear-gradient(135deg, #0f172a, #1e3a8a, #000000);
}
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    margin-top: -20px;
}
.left-side img,
.right-side img{
    width: 100%;
}
.left-side,
.center-content,
.right-side{
    flex: 1;
}
.center-content{
    text-align: center;
    margin-top: -40px;
}
.player-image{
    width: 100%;
    max-width: 600px;
    height: auto;
}
.right-player{
    transform: scaleX(-1);
}
.left-side,
.right-side{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 4rem;
    color: white;
}
p{
    font-size: 1.2rem;
    color: #d1d5db;
    margin-top: 10px;
}
.quote-card{
    margin-top: 45px;
    padding: 25px;
    width:520px;
    margin:auto;
    border-radius: 18px;
    background: rgba(255, 255, 255, .08);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    border:1px solid rgba(255,255,255,.15);
}
.quote{
    color:white;
    font-size: 1.1rem;
    line-height: 1.6;
    font-style: italic;
}
.top-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
    gap: 20px;
    position: relative;
    z-index: 5;
}
.gallery-card{
    width: 260px;
    height: 155px;
    overflow:hidden;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.35);
    transform: translateY(-10px) scale(1.03);
    transition: 0.35s ease;
    cursor: pointer;
    position: relative;
    background: white;
    padding: 6px;
    transition: .4s;
}
.gallery-image{
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 12px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.35);

    transition: 0.4s ease;
}
.img1:hover{
    transform: rotate(-6deg) translateY(-10px) scale(1.05);
    /*margin-right: -35px;*/
    z-index: 2;
}

.img2:hover{
    transform: rotate(6deg) translateY(-10px) scale(1.05);
    /*margin-left: -35px;*/
    z-index: 1;
}
.center-content h1{
   font-size:80px;
    letter-spacing:3px;
    line-height:0.95;
    text-shadow:
    0 8px 25px rgba(0,0,0,.4); 
}
.center-content p{
    font-size:22px;
    color:#d8d8d8;
    margin-top:20px;
    letter-spacing:1px;
}
.about{
    background:#081120;
    padding:120px 8%;
}
.about-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:70px;
}
.about-image{
    flex:1;
}
.about-image img{
    width:100%;
    max-width:450px;
    border-radius:20px;
    box-shadow:0 20px 40px rgba(0,0,0,.4);
}
.about-content{
    flex:1;
}
.about-content h2{
    font-size:48px;
    color:white;
    margin-bottom:30px;
}
.about-content p{
    color:#cbd5e1;
    line-height:1.9;
    margin-bottom:20px;
    font-size:18px;
}
.stats{
    padding:120px 8%;
    background:#0b1120;
    text-align:center;
}
.stats h2{
    font-size:48px;
    color:white;
    margin-bottom:60px;
}
.stats-container{
    display:flex;
    justify-content:center;
    gap:35px;
    flex-wrap:wrap;
}
.stat-card{
    width:220px;
    padding:40px 20px;
    border-radius:18px;
    background:#16213e;
    transition:.4s;
    box-shadow:0 15px 35px rgba(0,0,0,.3);
}
.stat-card h3{
    color:white;
    font-size:52px;
    margin-bottom:15px;
}
.stat-card p{
    color:#cbd5e1;
    font-size:20px;
}
.stat-card:hover{
    transform:translateY(-12px);
    background:#1e3a8a;
}
.timeline-section{
    padding:120px 10%;
    background:#07101f;
}

.timeline-section h2{
    text-align:center;
    font-size:55px;
    color:white;
    margin-bottom:70px;
}

.timeline{
    max-width:800px;
    margin:auto;
    border-left:3px solid rgba(255,255,255,.2);
}

.timeline-item{
    display:flex;
    align-items:flex-start;
    gap:25px;
    margin-bottom:60px;
    position:relative;
    left:-13px;
}

.circle{
    width:22px;
    height:22px;
    background:#3b82f6;
    border-radius:50%;
    flex-shrink:0;
}

.timeline-content{
    background:#1d2a57;
    padding:25px;
    border-radius:15px;
    color:white;
    transition:.3s;
}

.timeline-content:hover{
    transform:translateX(12px);
    background:#2950b8;
}

.timeline-content h3{
    margin-bottom:10px;
}

.timeline-content p{
    color:#d7d7d7;
    line-height:1.8;
}
.achievements{
    padding:120px 10%;
    background:#0b1324;
}

.achievements h2{
    text-align:center;
    color:white;
    font-size:55px;
    margin-bottom:70px;
}

.achievement-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.achievement-card{
    width:250px;
    background:#1b2b5c;
    border-radius:20px;
    padding:35px 25px;
    text-align:center;
    color:white;
    transition:.4s;
}

.achievement-card h1{
    font-size:60px;
    margin-bottom:20px;
}

.achievement-card h3{
    margin-bottom:15px;
}

.achievement-card p{
    color:#d8d8d8;
    line-height:1.6;
}

.achievement-card:hover{
    transform:translateY(-12px);
    box-shadow:0 15px 35px rgba(0,0,0,.35);
}
.gallery-section{
    padding:120px 10%;
    background:#081120;
}

.gallery-section h2{
    text-align:center;
    color:white;
    font-size:55px;
    margin-bottom:60px;
}

.gallery-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:25px;

}

.gallery-grid img{

    width:100%;
    height:260px;

    object-fit:cover;

    border-radius:18px;

    transition:.4s ease;

    cursor:pointer;

    box-shadow:0 15px 35px rgba(0,0,0,.35);

}

.gallery-grid img:hover{

    transform:scale(1.05);

    filter:brightness(1.1);

}
footer{

    background:#050b17;

    padding:70px 10%;

    text-align:center;

}

footer h2{

    color:white;

    font-size:40px;

    margin-bottom:20px;

}

footer p{

    color:#cbd5e1;

    margin-bottom:25px;

}

.social-icons{

    display:flex;

    justify-content:center;

    gap:30px;

    margin-bottom:30px;

}

.social-icons a{

    color:white;

    font-size:28px;

    transition:.3s;

}

.social-icons a:hover{

    color:#3b82f6;

    transform:translateY(-8px);

}

.copyright{

    font-size:14px;

    opacity:.7;

}
html{
    scroll-behavior:smooth;
}
::selection{

    background:#2563eb;

    color:white;

}
::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-track{

    background:#081120;

}

::-webkit-scrollbar-thumb{

    background:#2563eb;

    border-radius:20px;

}

/*for navigation bar*/
.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 8%;

}

.logo{

    color:white;

    font-size:32px;

    font-weight:bold;

    letter-spacing:2px;

}

.nav-links{

    display:flex;

    list-style:none;

    gap:40px;

}

.nav-links a{

    color:white;

    text-decoration:none;

    font-size:18px;

    transition:.3s;

}

.nav-links a:hover{

    color:#60a5fa;

}
/*fade*/
section{
    animation: fadeUp 1s ease;
}

@keyframes fadeUp{

    from{
        opacity:0;
        transform:translateY(50px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}
/*Floating Hero Images
.player-image{
    animation: float 4s ease-in-out infinite;
}

@keyframes float{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-15px);
    }

    100%{
        transform:translateY(0);
    }

} */
/*Improve the Buttons & Cards*/
.stat-card:hover,
.achievement-card:hover,
.timeline-content:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 45px rgba(0,0,0,.4);

}
/*scroll*/
.scroll-down{

    margin-top:40px;

    display:flex;

    flex-direction:column;

    align-items:center;

    color:white;

    animation:bounce 2s infinite;

}

.scroll-down span{

    font-size:15px;

    letter-spacing:2px;

    margin-bottom:8px;

}

.scroll-down i{

    font-size:22px;

}
/*animation scroll*/
@keyframes bounce{

    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(10px);
    }

}
@media (max-width: 992px){

    .hero-container{
        flex-direction: column;
        text-align: center;
    }

    .player-image{
        width: 260px;
    }

    .center-content h1{
        font-size: 60px;
    }

    .quote-card{
        width: 90%;
        margin: 20px auto;
    }

    .about-container{
        flex-direction: column;
        text-align: center;
    }

    .about-image{
        width: 280px;
    }

    .stats-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:20px;
    }
}
@media (max-width:576px){

    .center-content h1{
        font-size:42px;
        line-height:1.1;
    }

    .player-image{
        width:180px;
    }

    .gallery-image{
        width:140px;
        height:90px;
    }

    .top-gallery{
        gap:10px;
    }

    .stats-container{
        grid-template-columns:1fr;
    }

    .about-image{
        width:220px;
        .left-side,
   .right-side{
    display:none;
}
    }
}
@media(max-width:768px){

    .hero-container{
        flex-direction:column;
        text-align:center;
    }

    .player-image{
        width:250px;
    }

}
